<!DOCTYPE html>
<html>
    <head>
        <title>Deployd.Agent</title>
        <meta http-equiv="refresh" content="3">
    </head>
    <body>
        <h1>Deployd.Agent - @Environment.MachineName</h1>
        
        <ul>
            <li><a href="/packages">Packages</a></li>
            <li><a href="/installations">Installations</a></li>
        </ul>

        <h2>Task Queue</h2>
        
        @foreach (var task in Model.TaskQueue)
        {
            <p>@task.PackageId @task.Version</p>
        }
        
        <h2>Running Tasks</h2>

        @foreach (var task in Model.RunningTasks)
        {
            <p>@task.PackageId @task.Version @task.LastMessage</p>
        }
    </body>
</html>