@{
	Layout  = "layout.cshtml";
}

<h2>Task Queue</h2>

@foreach (var task in Model.TaskQueue)
{
	<p>@task.PackageId @task.Version</p>
}

<h2>Running Tasks</h2>

@foreach (var task in Model.RunningTasks)
{
	<p>@task.PackageId @task.Version @task.LastMessage</p>
}